body{
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    background-color: black;
    color:green;
    
}
header { border-bottom: 2px solid #333; margin-bottom: 20px; }
a { color: #0066cc; text-decoration: none; } 
a:hover { text-decoration: underline; background: #333; color: #fff; }
h1,h2,h3,h4 { text-transform: uppercase; }
section { margin-bottom: 40px; }

/* Terminal Container */
.terminal-window {
    background-color: #1e1e1e;
    border-radius: 6px;
    box-shadow: 0 10px 30px rgb(0,0,0,0.3); overflow: hidden; color: #00ff00; /*Classic Hacker Green */
    font-family: 'Courier New', Courier, monospace;
}

/* Header Bar */
.terminal-header {
    background-color: #333; 
    padding: 8px 15px;
    display: flex;
    align-items: center;
}
.dot { height: 12px; width: 12px; border-radius: 50%; display: inline-block; margin-right: 5px; }
.red { background-color: #ff5f56; }
.yellow { background-color: yellow; }
.green {background-color: #27c93f;}

/* Terminal content */
.terminal-body { padding: 20px; font-size: 14px; }
.terminal-body a { color: #00ff00; text-decoration: underline; }
.promt { color: #00acee; } /* Light blue for the prompt */

/* Blinking Cursor Animation */ 
.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 0;}
    50% { opacity: 1; }
    100% { opacity: 0;}
}
